$blackM88: #151829;
$blackM91: #1e2132;
$blackM96: #282a3a;
$blackM100: #313443;

$blueM92: #5446f0;
$blueM96: #5b4df1;
$blueM100: #6255f1;

$special: #14fed4;

@use 'defaults';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap');

:root {
  --color-text: rgba(255, 255, 255, 1);
  --root-text-color: #ffffff;
  --color-alt-text: rgba(255, 255, 255, 0.8);
  --color-base: #313443;
  --color-blue: #5446f0;
  --color-blue-alt: #5b4df1;
}

body {
  margin: 0;
  padding: 0;
  background-color: $blackM88;

  %font-shared {
    color: #FFFFFF;
    font-family: Manrope;
    font-weight: bold;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
  }
  
  h1 {
    color: var(--color-text);
    font-weight: 800;
    line-height: 150%;
    font-size: 18px;
    @extend %font-shared;
  }

  h2 {
    color: var(--color-text);
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
    @extend %font-shared;
  }

  h3 {
    color: var(--color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    @extend %font-shared;
  }

  h4 {
    color: var(--color-text);
    font-weight: 700;
    line-height: 150%;
    font-size: 12px;
    @extend %font-shared;
  }

  h5 {
    color: var(--color-text);
    font-weight: 700;
    line-height: 150%;
    font-size: 12px;
    @extend %font-shared;
  }

  h6 {
    color: var(--color-text);
    font-weight: 500;
    line-height: 150%;
    font-size: 12px;
    @extend %font-shared;
  }

  p, a {
    color: var(--color-text);
    font-weight: 500;
    line-height: 150%;
    font-size: 12px;
    @extend %font-shared;
  }

  a:hover {
    color: var(--root-text-color);  
  }

  p {
    color: var(--color-alt-text);
  }

  a {
    transition: color 0.1s;
    text-decoration: none;
  }

  select {
    padding-right: 1rem;
  }

  .box_hover {
    :hover {
      border-radius: 10px;
      background: #282a3a;
    }
  }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $blackM100;
}