{
  
    "jsc": {
      "experimental": {
        "plugins": [
          [
            "@swc/plugin-styled-components",
            {
              "displayName": true,
              "ssr": true
            }
          ]
        ]
      },
      "parser": {
        "syntax": "typescript",
        "tsx": true,
        "dynamicImport": true
      },
      "target": "es5"
    }
  }