.gridContainer {
  display: grid;
  @media (min-width: 600px) {
    grid-template-columns: auto auto auto auto auto;
  }
  @media (max-width: 600px) and (min-width: 450px) {
    grid-template-columns: auto auto auto;
  }
  @media (max-width: 450px) {
    grid-template-columns: auto auto;
  }
}
