.serverPlayerName {
  max-width: 11rem;
  font-weight: 500;
  font-size: 13px;
  width: 140px;
  min-width: 8rem;
  margin: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
