<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Game Tools: Battlefield Stats, Bots, Server management</title>
        <meta name="description" content="See your Battlefield 1, V, 4, 3, 2, HL stats! Watch live game statistics, get our Battlefield APIs, Discord Bots, BF1 Server administrating and protection tools.">
        <link rel="alternate" hreflang="ru" href="https://gametools.network/ru/" />
        <link rel="alternate" hreflang="en" href="https://gametools.network/" />
        <link rel="alternate" hreflang="x-default" href="https://example.com/" />
        <link rel="shortcut icon" type="image/x-icon" href="<%=htmlWebpackPlugin.files.favicon%>">
        <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
        <!--
          manifest.json provides metadata used when your web app is installed on a
          user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
        -->
        <link rel="manifest" href="/manifest.json" />
        
        <meta property="og:locale" content="en_US" />
        <meta property="og:locale:alternate" content="zh_CN" />
        <meta property="og:type" content="website" />
        <meta property="og:title" lang="en" content="Game Tools: Battlefield Stats, Bots, Server management" />
        <meta property="og:title" lang="zh" content="游戏工具: 战绩查询，机器人，服务器管理工具" />
        <meta property="og:description" lang="en" content="See your Battlefield 1, V, 4, 3, 2, HL stats! Watch live game statistics, get our Battlefield APIs, Discord Bots, BF1 Server administrating and protection tools." />
        <meta property="og:description" lang="zh" content="查看你的战地1、5、4、3、2、硬仗的个人数据， 观看实时游戏记录追踪，使用我们的API接口，Discord Bots，BF1服务器管理和保护工具。." />
        <meta property="og:url" content="https://gametools.network/" />
        <meta property="og:site_name" content="gametools.network" />

        <!-- Bundle -->
        <% if (webpackConfig.mode == 'production') { %>
        <script defer src="/js/bundle.gametools-prod-edge.min.js"></script>
        <% } else { %>
        <script defer src="/main.js"></script>
        <% } %>

    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
            <script crossorigin src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
            <% } else { %>
            <script crossorigin src="https://unpkg.com/react@18.2.0/umd/react.development.js"></script>
            <script crossorigin src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"></script>
        <% } %>
        <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9d91cca44de3482a8bb1d2410e744db1"}'></script><!-- End Cloudflare Web Analytics -->
    </body>
</html>
